@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 24px;
  font-family: "Roboto", sans-serif;
  background-color: #ebeef2;
}
